---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import YearRemainingApp from '@/components/Home.tsx';
---
<Layout title='ことしのこり | Year Remaining'>
  <main class="mx-auto flex min-h-screen max-w-5xl flex-col px-6 md:px-10 py-8">
    <Header />
    <section class="flex-1 py-10">
      <YearRemainingApp client:visible />
    </section>
    <Footer />
  </main>
</Layout>